:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --title-text-color: #ffffff;
  --accent-color: #2196f3;
  --primary-bgd-color: #e5e5e5;
  --secondary-bgd-color: #ffffff;
}
body {
  background-color: var(--primary-bgd-color);
  color: #2a2a2a;
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

.head {
  background-color: var(--secondary-bgd-color);
}

ul {
  list-style: none;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.studio {
  color: var(--primary-text-color);
}

/* Site nav */
.site-nav .link,
.contacts-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .contacts-link:hover,
.site-nav .contacts-link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.link {
  text-decoration: none;
}

/* Footer */
.footer {
  background-color: var(--secondary-bgd-color);
}
.logo-footer {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.19;
}
.location {
  color: var(--primary-text-color);
  font-style: normal;
  text-decoration: none;
}
.contacts {
  color: var(--primary-text-color);
  font-style: normal;
  text-decoration: none;
}
.social-links .link:hover,
.social-links .link:focus {
  color: var(--accent-color);
}
.sign-up {
  background-color: #2196f3;
  color: #ffffff;
  text-decoration: none;
}
.goit {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;
}

/* Button */
.button {
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
}
